body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #000;
  background: #fff;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

//img {
//  width: 100%;
//  height: auto;
//}