@import 'mixins.scss';
@import 'global.scss';

header {
  padding: 20px 0;
  border-bottom: 3px solid red;
  .top-header {
    @include clearfix;
    h1 {
      float: left;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }
    .contacts {
      float: right;
      font-size: 30px;
      line-height: 1.2;
    }
  }
  .header-logo {
    img {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
    }
    span {
      display: inline-block;
      margin-left: 20px;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

main {
  background: #fff url('../img/main-bg.jpg') repeat;
}

.catalog {
  @include clearfix;
  position: relative;
  padding-top: 70px;
  .catalog-img {
    float: left;
    width: 50%;
    padding-bottom: 220px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .catalog-items {
    float: right;
    width: 40%;
    ul {
      @include clearlist;
      li {
        padding: 7px 0;
        a {
          text-transform: uppercase;
          color: inherit;
        }
        .hide-text {
          display: none;
          margin-top: 10px;
        }
      }
    }
  }
  button {
    margin-top: 30px;
    outline: none;
    border: 2px solid #000;
    padding: 5px 7px;
    background: #fff;
  }
}

.delivery {
  padding-bottom: 70px;
  h2 {
    text-align: center;
  }
}

footer {
  height: 50px;
  padding: 20px 0;
  border-top: 3px solid red;
  .contacts {
    float: right;
  }
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 42%;
  width: 270px;
  margin: 0 auto;
  padding: 40px 15px;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
  background: #f2f2f2;
  input[type='text'] {
    margin-bottom: 10px;
    padding: 5px 7px;
  }
  textarea {
    margin-bottom: 15px;
    color: #807979;
  }
  input[type='submit'] {
    outline: none;
    border: 2px solid #000;
    padding: 5px 7px;
    background: #fff;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
  }
}

.show-popup {
  display: block;
  animation: bounce 1s;
}

.show-hide-text {
  display: block;
}

@keyframes bounce {
  
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}